<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>net.implementist.myFirstWebApp.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryPersonSportsInfoServlet</servlet-name>
        <servlet-class>net.implementist.myFirstWebApp.QueryPersonSportsInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSomeStepServlet</servlet-name>
        <servlet-class>net.implementist.myFirstWebApp.SearchSomeStepServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryStepByIdServlet</servlet-name>
        <servlet-class>net.implementist.myFirstWebApp.QueryStepByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStepServlet</servlet-name>
        <servlet-class>net.implementist.myFirstWebApp.UpdateStepServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStepServlet</servlet-name>
        <servlet-class>net.implementist.myFirstWebApp.InsertStepServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPersonSportsInfoServlet</servlet-name>
        <servlet-class>net.implementist.myFirstWebApp.InsertPersonSportsInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryPersonSportsInfoOnSomeDayServlet</servlet-name>
        <servlet-class>net.implementist.myFirstWebApp.QueryPersonSportsInfoOnSomeDayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>net.implementist.myFirstWebApp.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPersonInfoServlet</servlet-name>
        <servlet-class>net.implementist.myFirstWebApp.SearchPersonInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePersonSportsInfoServlet</servlet-name>
        <servlet-class>net.implementist.myFirstWebApp.UpdatePersonSportsInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePersonSportsInfoServlet</servlet-name>
        <servlet-class>net.implementist.myFirstWebApp.DeletePersonSportsInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePersonInfoServlet</servlet-name>
        <servlet-class>net.implementist.myFirstWebApp.UpdatePersonInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStepServlet</servlet-name>
        <url-pattern>/UpdateStepServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePersonSportsInfoServlet</servlet-name>
        <url-pattern>/UpdatePersonSportsInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePersonSportsInfoServlet</servlet-name>
        <url-pattern>/DeletePersonSportsInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryPersonSportsInfoServlet</servlet-name>
        <url-pattern>/QueryPersonSportsInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPersonSportsInfoServlet</servlet-name>
        <url-pattern>/InsertPersonSportsInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryPersonSportsInfoOnSomeDayServlet</servlet-name>
        <url-pattern>/QueryPersonSportsInfoOnSomeDayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStepServlet</servlet-name>
        <url-pattern>/InsertStepServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSomeStepServlet</servlet-name>
        <url-pattern>/SearchSomeStepServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryStepByIdServlet</servlet-name>
        <url-pattern>/QueryStepByIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPersonInfoServlet</servlet-name>
        <url-pattern>/SearchPersonInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePersonInfoServlet</servlet-name>
        <url-pattern>/UpdatePersonInfoServlet</url-pattern>
    </servlet-mapping>
</web-app>
